.text-nowrap {
  white-space: nowrap;
}

h1, h2 {
  border-bottom: 0.5px solid gray;
}

nav.navbar {
  margin-bottom: 0;
}

.navbar-brand {
    line-height: 12px;
    color: white;
}
.navbar-brand link {
    color: white;
}

/*
    line-height: 15px;
    font-size: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
}
*/

.subtitle {
  font-size: 12px;
}

table.table thead tr th {
  text-align: center;
}

table.table tbody tr td {
  vertical-align: middle;
}

table.table tbody tr.week-header {
  background-color: #0000df;
  font-weight: bold;
  color: #ffffff;
}

table.table tbody tr.column-header {
  background-color: #dddddd;
  font-weight: bold;
}

div.footer {
  font-size: 80%;
}

nav.navbar-inverse, 
nav.navbar-inverse
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form,
.navbar-collapse.collapse,
.navbar-collapse.collapsing {
  background-color: #0000ff;
  border-color: #3f007d;
}

nav.navbar-inverse .navbar-nav .active a,
nav.navbar-inverse .navbar-nav a:hover,
nav.navbar-inverse .navbar-nav .active a:hover,
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #3f007d;
}

table ul.list-unstyled {
  margin-bottom: 0;
}

blockquote p {
  font-size: 15px;
}
