<div class="row footer">
  <div class="col-md-12">
    <hr>
    <p>
      <a href="{{ site.baseurl | append: '/handouts/accessibility' }}">Accessibility statement</a>.
      Check accessibility with <a href="http://wave.webaim.org/refer">WAVE</a>.
    </p>
    {% include acknowledgements.html %}
  </div> <!-- /.col-md-12 -->
</div> <!-- /.row -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
<script>
$(document).ready(function() {
  $("#markdown-toc a").on('click', function(e) {
  	// prevent default anchor click behavior
  	e.preventDefault();
  	// animate
  	$('html, body').animate({ scrollTop: $(this.hash).offset().top - 60 }, 300, function(){ });
  })
});
</script>
